body {
  background-image: url("./images/heelsBackground.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: lavender;
}

#homepageContent {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 35% 15% 20% 15%;
  gap: 100px;
}
#primaryContent {
  text-align: right;
  color: white;
  font-size: 30px;
  letter-spacing: 1.5px;
}
#emphasizedText {
  font-size: 48px;
}
.homepageShop {
  background-color: fuchsia;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  margin-right: 20px;
}
.homepageShop:hover {
  color: fuchsia;
  background-color: white;
}
#featuredItems {
  display: flex;
  justify-content: space-evenly;
  padding-right: 100px;
  padding-left: 100px;
}
.shopButton {
  cursor: pointer;
}
