#navBar {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  background-color: rgba(216, 115, 33, 0.411);
}
#storeTitle {
  font-size: 42px;
  letter-spacing: 1.5px;
  color: white;
}
#navBarLinks {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-self: center;
}
#cartIcon {
  max-height: 30px;
  align-self: center;
}
.navBarShop {
  font-size: 22px;
  font-weight: 600;
  align-self: center;
}

#cartIcon:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: orange;
}
