#navBar {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: rgba(171, 235, 235, 0.3);
  margin: none;
}
#storeTitle {
  font-size: 42px;
  letter-spacing: 1.5px;
}
#navBarLinks {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-self: center;
}
#cartIcon {
  max-height: 30px;
  align-self: center;
}
.button {
  border: none;
  border-radius: 5px;
  max-height: 40px;
  padding: 5px 10px;
}
