#navBar {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  background-color: rgba(216, 115, 33, 0.411);
}
#storeTitle {
  font-size: 42px;
  letter-spacing: 1.5px;
  color: white;
}
#navBarLinks {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-self: center;
}
#cartIcon {
  max-height: 30px;
  align-self: center;
}
.navBarShop {
  border: none;
  border-radius: 5px;
  max-height: 40px;
  padding: 5px 10px;
  color: orange;
  font-size: 16px;
  background-color: white;
}

#cartIcon:hover {
  cursor: pointer;
}
#inCartContainer {
  background-color: white;
  padding: 3px;
  border-radius: 50%;
  min-height: 20px;
  min-width: 20px;
  color: orange;
  text-align: center;
  align-items: center;
  display: grid;
  align-self: center;
}
