.clickedItemCard {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  max-width: 900px;
  margin: 100px auto;
}
.itemDetails {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.itemDescription {
  font-size: 14px;
  color: darkslategray;
}

.addToCartButton {
  color: white;
  background-color: darkgray;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
}
.addToCartButton:hover {
  background-color: orange;
}
.inventoryItemCard:hover,
.addToCartButton:hover {
  cursor: pointer;
}
