body {
  font-family: Arial, Helvetica, sans-serif;
  margin: none;
  background-color: lavender;
  background-image: url("./images/heelsBackground.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
